{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin - Student</title>
    <link rel="stylesheet" href="{% static 'students/css/signin.css' %}">
</head>
<body>
    <form method="post">

        {% csrf_token %}

        Email: {{form.email}} <br>
        <div id="email-error" class="errors"></div>
        {% if form.email.errors %}
            <div class="errors"> {{form.email.errors.0}} </div>
        {% endif %}
        
        Password: {{form.password}} <br>
        {% if form.password.errors %}
            <div class="errors"> {{form.password.errors.0}} </div>
        {% endif %}

        <button type="submit" id="submit-button">Submit</button>

    </form>

    <script src="{% static 'students/js/signin.js' %}"></script>
</body>
</html>