{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Tutor</title>
    <link rel="stylesheet" href="{% static 'tutors/css/style.css' %}">
</head>
<body>
    <form method="post">

        {% csrf_token %}
        
        Name: {{form.username}} <br>

        Email: {{form.email}} <br>
        <div id="email-error" class="errors"></div>
        {% if form.email.errors %}
            <div class="errors"> {{form.email.errors.0}} </div>
        {% endif %}
        
        Class in charge: {{form.class_charge}} <br>
        
        Password: {{form.password}} <br>
        
        Confirm Password: <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password"> <br>
        {% if form.password.errors %}
            <div class="errors"> {{form.password.errors.0}} </div>
        {% endif %}
        
        <button type="submit" id="submit-button">Submit</button>

        <script src="{% static 'tutors/js/script.js' %}"></script>
    </form>
</body>
</html>