<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        Student<input type="radio" name="role" value="student" checked>
        Tutor<input type="radio" name="role" value="tutor">
        Admin<input type="radio" name="role" value="admin"> <br>
        <button type="submit" id="submit-button">Submit</button>
    </form>

</body>
</html>